## 🌑 프로그래밍 언어

> 강의 내용 중, 일부 언어에만 해당되는 특수 케이스는 제외하고, 대부분 언어에서 통용되는 일반적인 내용만 정리했다.
> 예를 들어 Fortran과 Ada는  배열의 원소 참조를 위해 소괄호 `()`를 사용하지만, 대부분 언어에서 대괄호 `[]`를 사용하고 있기에, [배열 설명에](https://mascari4615.github.io/posts/Programming-Language-Data-Type-Array/) `원소 참조를 위해 대괄호 []를 사용` 라고 표현했다.
> 때문에 특정 언어에는 해당되지 않는 내용이 존재한다.
> 또한, 필자가 주관으로, 주된 언어가 아니라고 생각되는 언어에 대한 내용은, 꼭 필요한 것이 아니라면 생략했다.
{: .prompt-warning}

- [프로그래밍 언어론](https://mascari4615.github.io/posts/Programming-Language/)
- [언어 평가 기준](https://mascari4615.github.io/posts/Programming-Language-Evaluation-Criteria/)
- [언어 설계에 영향을 주는 요소](https://mascari4615.github.io/posts/Programming-Language-Factors-Influencing-Design/)

---